@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Regular'), url('./Roboto-Regular.woff') format('woff');
}

body {
    background: #212121;
    color: #fefefe;
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
}

.header {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}